= form_for @admin do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error(s)")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |message|
          %li= message
          %br

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :school_id
    = f.collection_select :school_id, School.all, :id, :name, prompt: "Select School"
  .actions
    = f.submit 'Save'
