%p#notice= notice

%br
%table
  %caption= @school.name + ' Activity, week of: ' + @present_week.strftime("%m/%d/%Y")
  %thead
    %tr
      %th Mentor
      -#%th School
      %th Total Hours
      %th Forgot Checkout?
      %th
      %th
      %th

  %tbody
    - @totalhours_list.each do |r|
      - mentor = r[:mentor]
      - num_hours = r[:num_hours]
      - forgot_checkout = r[:forgot_checkout]
      %tr.table_row
        %td= mentor.name
        -#%td= mentor.school.name
        %td= num_hours
        %td= forgot_checkout ? "Yes" : "-"
        //%td= link_to 'Show', mentor
        //%td= link_to 'Edit', edit_mentor_path(mentor)
        //%td= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' }

%br

//= link_to 'Edit', edit_admin_path(@admin)
//\|
//= link_to 'Back', admins_path
