= form_for @mentor do |f|
  - if @mentor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mentor.errors.count, "error")} prohibited this mentor from being saved:"
      %ul
        - @mentor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :school
    = f.text_field :school
  .actions
    = f.submit 'Save'
