%table

  - if !@current_user.is_a? Super
    %br
    %caption= "Mentors"

  %thead
    %tr
      %th Name
      %th Email
      %th School
      %th
      %th

  %tbody
    - @mentors.each do |mentor|
      %tr
        %td= link_to mentor.name, mentor_details_path(mentor)
        %td= mentor.email
        %td= mentor.school.name
        %td= link_to 'Edit', edit_mentor_path(mentor), method: :get
        %td= link_to 'Destroy', mentor, method: :delete, data: { confirm: "Are you sure you want to remove Mentor #{mentor.name} from the database? All related checkin, checkout records will also be deleted" }

%br
= link_to 'New Mentor', new_mentor_path
%br
%br
= link_to 'Download all checkin data', mentors_path(format: :xlsx)
%br
%br
= link_to 'Delete all checkin data', cleandb_path(@current_user), data: {confirm: 'Are you sure?' }
