%head

%link{:href => "/stylesheets/jquery-ui.css", :rel => "stylesheet"}/
%link{:href => "/stylesheets/style.css", :rel => "stylesheet"}/
%script{:src => "/javascripts/jquery-1.12.4.js"}
%script{:src => "/javascripts/jquery-ui.js"}
:javascript
  $( function() {
    $( "#datepicker" ).datepicker({
      firstDay: 1
    });
  } );

%body

%p
  = form_tag(@school, :method => :get, :align => "center") do
    Week of:
    %input#datepicker{:type => "text", :name => "week_date", :autocomplete => "off", :value => @week_date.strftime("%m/%d/%Y")}
    %input{:type => "submit", :value => "Select"}

%table
  %caption= 'Attendances of ' + @mentor.name + ', week of: ' + @week_date.strftime("%m/%d/%Y")

  %thead
    %tr
      %th{:rowspan => 2} Date
      %th{:rowspan => 2} Hours
      %th{:rowspan => 2} School
      %th{:colspan => 3} ~ Check In ~
      %th{:colspan => 3} ~ Check Out ~
    %tr
      %th Time
      %th Location
      %th Invalid Geoloc
      %th Time
      %th Location
      %th Invalid Geoloc

  %tbody
    - @mentor.attendances(@week_date).each do |check|
      - date = check[:date]
      - duration = check[:duration]
      - school_name = check[:school_name]
      - checkin = check[:checkin]
      - checkout = check[:checkout]
      %tr
        -unless @current_user.is_a? Mentor
          %td= link_to date, checkin
        -else
          %td= date
        %td= duration
        %td= school_name

        %td= checkin.checkin_time.strftime("%H:%M:%S")
        %td= "(" + checkin.checkin_lat.to_s + ", " + checkin.checkin_lon.to_s + ")"
        %td= checkin.isValid ? "-" : "invalid"

        - if checkout.nil?
          %td{:colspan => 3} Forgot to checkout
        - else
          %td= checkout.checkout_time.strftime("%H:%M:%S")
          %td= "(" + checkout.checkout_lat.to_s + ", " + checkout.checkout_lon.to_s + ")"
          %td= checkout.isValid ? "-" : "invalid"

