
-#%button.block{:on_click => "www.google.com", :data => {:author_id => 123, :category => 7}} Check In 

-#%button.block Check Out

=link_to "Check In", mentor_checkin_path , class: "btn btn block"
=link_to "Check Out", mentor_checkout_url, class: "btn btn block"

-# commenting out temporarily. This is what Choi had for admin views originally. May still need for that.
  %h1 Listing mentors
  %table
    %thead
      %tr
        %th Name
        %th Email
        %th School
        %th
        %th
        %th

    %tbody
    - @mentors.each do |mentor|
        %tr
          %td= mentor.name
          %td= mentor.email
          %td= mentor.school.name
          %td= link_to 'Show', mentor
          %td= link_to 'Edit', edit_mentor_path(mentor)
        %td= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Mentor', new_mentor_path