%br
%br
%table
  %caption= 'Weeks Summary of ' + @mentor.name

  %thead
    %tr
      %th Week of
      %th School
      %th Total Hours
      %th Forgot Checkout?
      %th Any Invalid?

  %tbody
    - @mentor.weeks_summary.each do |week|
      - week_date = week[:week_date]
      - school_name = week[:school_name]
      - num_hours = week[:num_hours]
      - forgot_checkout = week[:forgot_checkout] ? "Yes" : "-"
      - anyInvalid = week[:anyInvalid] ? "Yes" : "-"
      %tr.table_row
        %td= link_to week_date, mentor_attendances_path(@mentor, :week_date => week_date)
        %td= school_name
        %td= num_hours
        %td= forgot_checkout
        %td= anyInvalid
