%h1 Listing checkouts

%table
  %thead
    %tr
      %th Checkout time
      %th Latitude
      %th Longitude
      %th Mentor
      %th School
      %th
      %th
      %th

  %tbody
    - @checkouts.each do |checkout|
      %tr
        %td= checkout.checkout_time.strftime("%m/%d/%Y %H:%M:%S")
        %td= checkout.latitude
        %td= checkout.longitude
        %td= checkout.mentor.name
        %td= checkout.school.name
        %td= link_to 'Show', checkout
        %td= link_to 'Edit', edit_checkout_path(checkout)
        %td= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Checkout', new_checkout_path
