%h1 Listing schools

%table
  %thead
    %tr
      %th Name
      %th Admin
      %th Address
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  %tbody
    - @schools.each do |school|
      %tr
        %td= school.name
        %td= school.admin.name
        %td= school.address
        %td= school.latitude
        %td= school.longitude
        %td= link_to 'Show', school
        %td= link_to 'Edit', edit_school_path(school)
        %td= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New School', new_school_path
