%p#notice= notice

%br
%br
%table
  %caption= @school.name + ' Activity, week of: ' + @week.strftime("%m/%d/%Y")

  %thead
    %tr
      %th Mentor
      %th Total Hours
      %th Forgot Checkout?

  %tbody
    - @school.activities(@week).each do |r|
      - mentor = r[:mentor]
      - num_hours = r[:num_hours]
      - forgot_checkout = r[:forgot_checkout] ? "Yes" : "-"
      - anyInvalid = r[:anyInvalid] ? "Yes" : "-"

      %tr.table_row
        %td= link_to mentor.name, mentor_details_path(mentor)
        %td= num_hours
        %td= forgot_checkout
        %td= anyInvalid
