= form_for @checkin do |f|
  - if @checkin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkin.errors.count, "error")} prohibited this checkin from being saved:"
      %ul
        - @checkin.errors.full_messages.each do |message|
          %li= message
  
  .field
    = f.label :checkin_time
    = f.datetime_select :checkin_time
  .field
    = f.label :isValid
    = f.select :isValid, [['True', true], ['False', false]]
  = f.hidden_field :mentor_id, value: @mentor_id
  .actions
    = f.submit 'Save'
